@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar  */
.topnav {
  background-color: crimson;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 14px 14px;
  margin: 14px 14px;
}

.topnav a:hover {
  margin: 14px 14px;
  border: 1px solid crimson;
}

.topnav a:active {
  background-color: crimson;
  color: white;
}

.topnav .icon {
  display: none;
}

/* Home page */
.home-container {
  position: absolute;
  width: 100%;
  height: 88vh;
  background: black;
  overflow: hidden;
}

.home-container h1 {
  padding-top: 155px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 42px;
  color: whitesmoke;
  text-align: center;
}

.special-text {
  color: crimson;
  font-family: "Dancing Script";
}

.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid crimson;
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0) scale(0) rotate(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-90px) scale(1.3) rotate(360deg);
    opacity: 0;
  }
}

.home-btn {
  margin-top: 70px;
  margin-left: 42%;
  border: 1px solid crimson;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat";
  padding: 15px 25px;
  position: relative;
  width: 16%;
  animation: image-load-about 800ms ease-in 1000ms;
  animation-fill-mode: backwards;
}

.home-btn a {
  text-decoration: none;
  color: white;
}

.home-btn:hover {
  background-color: crimson;
  color: white;
  transition: 0.5s;
}

.home-btn a:hover {
  background-color: crimson;
  color: white !important;
  transition: 0.5s;
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* About page */
#about {
  padding-top: 550px;
}
.about-main h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}
.about-container {
  width: 100%;
  height: 76vh;
  display: flex;
  text-align: center;
  color: black;
}
.left {
  width: 50%;
  height: 100%;
}
.right {
  width: 50%;
  height: 100%;
}

.about-img {
  width: 90%;
  height: 90%;
  position: relative;
  border: 10px solid white;
}

.about-img-image {
  width: 100%;
  height: 100%;
}

.about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 25px;
  height: 100%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}

.right h1 {
  text-align: left;
  font-weight: normal;
}

.right p {
  text-align: justify;
  padding-right: 70px;
  padding-top: 8px;
  font-size: 17px;
}

.social-icons {
  float: left;
  margin-top: 20px;
}

.social-icons .bi-linkedin,
.bi-twitter {
  margin-left: 8px;
}

.social-icons .bi-github:hover,
.bi-twitter:hover,
.bi-linkedin:hover {
  fill: skyblue;
}

.social-icons hr {
  border: none;
  height: 1px;
  background-color: #f5f5f5;
}

/* SKILLS PAGE */
.skills-section {
  display: none;
}
.skills {
  padding: 30px 140px;
  margin-bottom: 24px;
}

.parent {
  display: grid;
  height: 50vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding-top: 20px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
  background-image: url("/bootstrap.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div2 {
  grid-area: 3 / 1 / 5 / 3;
  background-image: url("/git.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div3 {
  grid-area: 5 / 1 / 7 / 3;
  background-image: url("/MUI.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div4 {
  grid-area: 1 / 3 / 3 / 5;
  background-image: url("/html.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div5 {
  grid-area: 3 / 3 / 5 / 5;
  background-image: url("/heroku.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div6 {
  grid-area: 5 / 3 / 7 / 5;
  background-image: url("/node-js.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div7 {
  grid-area: 1 / 5 / 3 / 7;
  background-image: url("/css.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div8 {
  grid-area: 3 / 5 / 5 / 7;
  background-image: url("/mysql.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div9 {
  grid-area: 5 / 5 / 7 / 7;
  background-image: url("/tailwind.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div10 {
  grid-area: 1 / 7 / 3 / 9;
  background-image: url("/javascript.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div11 {
  grid-area: 3 / 7 / 5 / 9;
  background-image: url("/reactB.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div12 {
  grid-area: 5 / 7 / 7 / 9;
  background-image: url("/postgre.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div13 {
  grid-area: 1 / 9 / 3 / 11;
  background-image: url("/express.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div14 {
  grid-area: 3 / 9 / 5 / 11;
  background-image: url("/next.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div15 {
  grid-area: 1 / 11 / 3 / 13;
  background-image: url("/github-pages.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div16 {
  grid-area: 3 / 11 / 5 / 13;
  background-image: url("/react.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div17 {
  grid-area: 5 / 11 / 7 / 13;
  background-image: url("/mongo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.div18 {
  grid-area: 5 / 9 / 7 / 11;
  background-image: url("/netlify.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#skills .skills-title {
  text-align: center;
  /* padding-top: 10px; */
  font-size: 35px;
}
.grid-container_skills {
  width: 100%;
  display: grid;
  gap: 30px;
  padding: 80px;
  padding-top: 18px;
}
.grid-item {
  background-color: whitesmoke;
  height: 40vh;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}
.grid-item h1 {
  font-family: Montserrat;
  font-weight: 300;
}
.grid-item hr {
  background-color: crimson;
  padding: 1px;
}
.skills-icons {
  display: flex;
  gap: 18px;
  padding: 12px;
}
.icon-holder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon-label {
  font-family: Montserrat;
  padding-top: 15px;
  text-align: center;
}

/* CONTACT PAGE */
.contact-container {
  display: flex;
  background-color: whitesmoke;
}

.left {
  width: 50%;
  height: 100%;
  float: left;
  padding-left: 280px;
  padding-top: 30px;
  box-sizing: border-box;
}

.left h1,
h2 {
  font-size: 32px;
}

.left p {
  padding-top: 8px;
}

.left .contact-email {
  width: 250px;
  display: flex;
  gap: 6px;
  padding: 8px;
  margin-top: 34px;
}

.contact-email svg {
  padding: 5px;
  border-radius: 5px;
}

.right {
  width: 50%;
  height: 100%;
  float: right;
  padding-top: 30px;
  box-sizing: border-box;
}

.right h1 {
  padding-bottom: 8px;
}

.right form {
  width: 60%;
}

.right form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px transparent;
  border-radius: 5px;
  box-sizing: border-box;
}
.right form h2 {
  font-size: 16px;
  padding-top: 8px;
}
.right form textarea {
  width: 100%;
  height: 20vh;
  padding: 12px;
  margin-top: 6px;
  border: 1px transparent;
  border-radius: 5px;
  color: gray;
  box-sizing: border-box;
}

.right form button {
  margin-top: 24px;
  margin-bottom: 10px;
  padding: 12px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.right form button:hover {
  background-color: black;
}

.error-message {
  color: red;
  font-size: 12px;
}

/* PROJECT PAGE */
#projects .project-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}

.project-container {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.project-holder {
  display: flex;
  width: 55%;
  height: 80%;
  background-color: whitesmoke;
}

.project-left {
  width: 50%;
  height: 100%;
}

.portfolio {
  background-color: black;
  background-image: url("/portfolio.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.majiwe {
  background-image: url("/Majiwe-vista-2.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.project-right {
  width: 50%;
  height: 100%;
  padding: 34px;
}

.project-right h1 {
  font-family: Montserrat;
  font-size: bold;
}

.project-right p {
  padding-top: 12px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.5;
}

.project-right .project-btn {
  margin-top: 50px;
  float: right;
}

.project-btn a {
  padding: 10px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
}

.live-btn {
  margin-right: 12px;
  background-color: #cd5c5c;
  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
  color: white;
}

.code-btn {
  margin-right: 12px;
  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #cd5c5c;
}

.design-btn {
  font-family: Montserrat;
  background-color: crimson;
  color: white;
}

.project-btn a:hover {
  background-color: black;
  color: white;
}

/* footer */
.footer-container {
  background-color: black;
}

.footer-container h1 {
  padding: 8px;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 15px;
  text-align: center;
  color: white;
}

/* RESPONSIVE DESIGN */
/* navbar */
@media (max-width: 600px) {
  .topnav a:first-child {
    display: none;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    padding-left: 20px;
  }

  /* home */
  .home-container h1 {
    padding-top: 130px;
    text-align: center;
  }

  .home-btn {
    width: 50%;
    margin-left: 100px;
  }

  .home-btn:hover,
  .home-btn a:hover {
    background-color: crimson;
    color: white;
    transition: 0.5s;
  }

  /* about */
  #about {
    padding-top: 580px;
  }
  .about-container {
    display: inline-block;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    height: auto;
  }

  .about-img {
    width: 80%;
    height: 90%;
    margin-left: 65px;
  }

  .about-img::after {
    left: -43px;
  }

  .right p {
    padding-top: 0%;
    padding-right: 0%;
    text-align: justify;
    font-size: 16px;
  }

  .social-icons {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
  }

  /* SKILLS */
  .skills-section {
    display: block;
  }

  .skills {
    display: none;
  }

  #skills {
    padding-top: 60px;
  }
  .grid-container_skills {
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .grid-item {
    height: auto;
    padding: 10px;
  }

  .skills-icons {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .icon-holder {
    width: 70px;
    height: 100%;
  }

  .icon-label {
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
  }

  /* contact */
  #contact {
    padding-top: 50px;
  }
  .contact-container {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    float: none;
    padding: 20px;
  }

  .left {
    text-align: center;
  }

  .left .contact-email {
    display: none;
  }

  .right h1 {
    display: none;
  }

  .right form {
    width: 100%;
  }

  /* project */
  #projects {
    padding-top: 50px;
  }
  .project-title {
    padding-bottom: 10px;
  }
  .project-container {
    height: auto;
  }

  .project-holder {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .project-left,
  .project-right {
    width: 100%;
  }

  .project-right {
    padding: 20px;
  }
}
